[submodule "src/Core"]
	path = src/Core
	url = https://github.com/BadEcho/core
[submodule "build"]
	path = build
	url = https://github.com/BadEcho/build.git
[submodule "src/Extensibility"]
	path = src/Extensibility
	url = https://github.com/BadEcho/extensibility
[submodule "src/Presentation"]
	path = src/Presentation
	url = https://github.com/BadEcho/presentation
